<%= link_to "Dude, Update This", edit_question_path(@question.id) %>

<%= link_to "Brah, Delete", @question, method: "delete" %>

<h1><%= @question.title %></h1>

<h2>User: <%= @question.author.username %></h2>

<p><%= @question.content %></p>

<ul>
<%= @question.comments.each do |comment| %>

  <li>
    <h2><%= comment.author %></h2>

  </li>

<% end %>
</ul>