<!DOCTYPE html>
<html>
<head>
  <title>CultureOverflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="login">
    <div class="nav">
      <% if current_user %>
        <h3>Wilkommen, <%= current_user.username %></h3>  
        <ul id="nav">
          <li><%= link_to "Home", "/" %></li>
          <li><%= link_to "New Question", new_question_path %></li>
          <li><%= link_to "Logout", logout_path %></li>
        </ul>
      <% elsif show_nav_bar_login? %>
        <%= form_tag login_path do %>

          <%= label_tag :email %>
          <%= text_field_tag :email, params[:email] %>

          <%= label_tag :password %>
          <%= password_field_tag :password %>

          <%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>
        <% end %>
        <%= link_to "Don't Have An Account, Bro?  Signup Today!", new_user_path %>
      <% end %>
    </div>
  </div>
  <!-- <div class="poster"> -->
  <div id="container">
    <div class="title">
      <h1>*SONIC*OVERFLOW*</h1>
      <h2>*YOUR MUSIC QUESTIONS*</h2>
      <h2>*ANSWERED*</h2>
    </div>
    <%= yield %>
  <!-- </div> -->
  </div>
  <div class="gos">
    <%= image_tag("gosling.png") %>
  </div>
</body>
</html>
