<!DOCTYPE html>
<html>
<head>
  <title>CultureOverflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
  <div class="login">
    
    <% if current_user %>
      <h3>Wilkommen, <%= current_user.username %></h3>  
      <ul id="nav">
        <li><%= link_to "Home", "/" %></li>
        <li><%= link_to "New Question", new_question_path %></li>
        <li><%= link_to "Logout", logout_path %></li>
      </ul>
    <% elsif show_nav_bar_login? %>
      <%= form_tag login_path do %>

      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email] %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>

      <%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
    <% end %>

  </div>
  <%= yield %>
</div>
</body>
</html>
